---
const posts = await Astro.glob('../posts/*.md');
---

<section class="page-content mt-10">
  <div id="blogtitle" >
      <h1 class=" blogtitle font-Supreme font-extrabold text-3xl text-center mb-1">BLOG</h1>
  </div>
  <div id="blogl">
      <div id="blogp">
          <div id="blogdisplay">
              {posts.map(post => (
                <div class=" reveal card">
                    <img src={post.frontmatter.hero}>
                    <h3 class=" font-Supreme font-bold text-base text-red-900 underline">{post.frontmatter.title}</h3>
                    <p class=" font-Supreme font-normal text-sm">{post.frontmatter.excerpt}</p>
                        <button id="readmore" class=" mt-2 font-Supreme text-xs"><span><a href={`/${post.frontmatter.slug}`}>Read More</a></span></button>
                </div>
              ))}
            </div>
      </div>
  </div>
</section>


<style>
  .card {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  #blogl{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }
    #blogp{
        grid-column: 3/8;
    }
    @media (max-width: 1080px){
        #blogp{
        grid-column: 1/10;
        } 
    }
    #blogdisplay {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 10px;
    }
    #readmore {
    position: relative;
    display: flex;
    border-radius: 0.8rem;
    justify-content: center;
    align-items: center;
    background: #161617;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    }

    #readmore:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #fb923c;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
    }

    #readmore:hover::after {
    right: auto;
    left: 0;
    width: 100%;
    }

    #readmore span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    z-index: 20;
    transition: all 0.3s ease-in-out;
    }

    #readmore:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
    }

    @keyframes scaleUp {
    0% {
    transform: scale(1);
    }

    50% {
    transform: scale(0.95);
    }

    100% {
    transform: scale(1);
    }
    }

</style>
