<div id="creatortag" class=" font-Supreme font-semibold text-md text-center" data-test="footer-text">&copy;<script type="text/javascript">
    document.write(new Date().getFullYear()); </script> Made with 💙 by Klevert
</div>