<section class=" mt-5 bg-orange-400 py-20">
    <div id="creatortag" class=" reveal font-Supreme font-semibold text-md text-center" data-test="footer-text">&copy;<script type="text/javascript">
        document.write(new Date().getFullYear()); </script> Made with 💙 by Klevert
    </div>
</section>
