<header>
  <div class="flex justify-between m-4">
    <div id="Headtitle">
      <a href="/"
        ><h1 class="logo font-Supreme text-4xl font-extrabold">HKB</h1></a
      >
    </div>
    <div id="navigationlinks">
      <h1>
        <ul
          class="navigation1 font-Supreme text-orange-400 text-center text-xs font-bold"
        >
          <li>Fitness, Food & Diet</li>
          <li>Blog</li>
        </ul>
      </h1>
    </div>
    <div id="navigationlinks2">
      <ul class="navigation2 font-Supreme text-base font-bold">
        <li>Newsletter</li>
        <li><a href="#featuredtitle">Featured</a></li>
      </ul>
    </div>
  </div>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    color: white;
    background-color: #171717;
    box-shadow: 0 5px 6px 0 rgb(32 33 36 / 10%);
  }
</style>
