<section class=" mt-10">
  <div id="featuredtitle" >
    <h1 class=" reveal font-Supreme font-extrabold text-3xl text-center mb-2">FEATURED</h1>
  </div>
  <div class=" reveal flex overflow-x-auto hide-scroll">
      <div class="flex-shrink-0 flex ">
        <div class=" ml-1">
          <img src="/images/F1 (1).jpg">
        </div>
        <div class=" ml-3">
          <img src="/images/F1 (2).jpg">
        </div>
        <div class=" ml-3">
          <img src="/images/F1 (3).jpg">
        </div>
        <div class=" ml-3">
          <img src="/images/F1 (4).jpg">
        </div>
        <div class=" ml-3">
          <img src="/images/F1 (5).jpg">
        </div>
        <div class=" ml-3 mr-1">
          <img src="/images/F1 (6).jpg">
        </div>
        <div class=" ml-3 mr-1">
          <img src="/images/F1 (7).jpg">
        </div>
        <div class=" ml-3 mr-1">
          <img src="/images/F1 (8).jpg">
        </div>
        <div class=" ml-3 mr-1">
          <img src="/images/F1 (9).jpg">
        </div>
      </div>
    </div>
</section>




  <style>
    .hide-scroll::-webkit-scrollbar {
    display: none;
    }

    .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    }
    img{
        max-height: 350px;
        border: 2px solid black;
    }

  </style>
  