<div id="container" class=" flex justify-center">
    <div id="word">
        <p class=" font-Supreme font-extrabold text-lg max-w-2xl text-center">
            The ultimate resource for anyone looking to live a <span class=" bg-red-400">healthier</span> and more active <span class=" bg-amber-400 rounded-lg">lifestyle</span>. 
            We believe that everyone has the potential to be a <span class=" bg-violet-100">hero</span> in their own story, and our mission is to empower you with the knowledge, inspiration, and support you need to become the best <span class=" bg-orange-400 rounded-s-md">version</span> of yourself.
        </p>
    </div>
</div>



