<section class="my-32 mx-1">
  <div id="container" class="flex justify-center">
    <div id="word">
      <p
        id="introhero"
        class="font-Supreme font-bold text-base max-w-lg text-center"
      >
        The ultimate resource for anyone looking to live a <span
          class="bg-red-400">healthier</span
        > and more active <span class="bg-amber-400 rounded-lg">lifestyle</span
        >. We believe that everyone has the potential to be a <span
          class="bg-violet-100">hero</span
        > in their own story, and our mission is to empower you with the knowledge,
        inspiration, and support you need to become the best <span
          class="bg-orange-400 rounded-s-md">version</span
        > of yourself.
      </p>
    </div>
  </div>
</section>

<style>
  .line {
    font-kerning: none;
    opacity: 0;
  }
</style>
